<nav class="navbar navbar-expand navbar-dark mb-4">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">User Panel</span>
    <div class="d-flex align-items-center">
      <img src="/public/image.png" alt="User" class="user-avatar me-2">
      <span><%= user && user.name ? user.name : 'User' %></span>
    </div>
  </div>
</nav> 